fastembed==0.7.3
langchain==1.0.0a12
langchain_openai==1.0.0a4
langchain_anthropic==1.0.0a4
langchain_qdrant==1.0.0a1
langgraph-checkpoint-mongodb==0.2.1
pymongo==4.15.1
python-dotenv==1.1.1
tavily-python==0.7.12
fastapi==0.118.0
uvicorn==0.37.0
pytz==2025.2